terraform {
  backend "azurerm" {
    resource_group_name  = "ih-terraform-state-rg"
    storage_account_name = "ihtfstatestorage"
    container_name       = "ihtfstatecontainer"
    key                  = "ih-tf-moodle-state.tfstate" // unique name for this project's state file - can't use variables 
  }
}